# Исключить временные файлы Python
__pycache__/
*.pyc
*.pyo

# Исключить временные файлы системы
.DS_Store
Thumbs.db

# Исключить IDE-конфигурации
.idea/
.vscode/

# Исключить виртуальное окружение
venv/
env/

# Исключить базы данных SQLite
*.sqlite3
